* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

/*============= Nav bar ============*/

nav,
li {
  list-style: none;
}
h1 {
  font-size: 50px;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
p {
  line-height: 1.8em;
}

header {
  display: flex;
  padding: 0 100px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}
header nav {
  display: flex;
}
nav li {
  padding: 30px 20px;
  color: #e0e0e0;
}
h2.logo-text {
  color: orangered;
  letter-spacing: 10px;
  font-family: "proxima-nova", sans-serif;
}
h2 span {
  color: white;
}
nav li:hover {
  color: orangered;
  background-color: rgba(0, 0, 0, 0.2);
}

/*============= Top banner ============*/
.top-banner-container,
.about-me-container,
.our-recipies-container {
  display: flex;
  padding: 50px 100px;
  align-items: center;
  justify-content: space-between;
  height: 650px;
}
.top-banner-container p,
.about-me-container p,
.our-recipies-container p {
  padding: 20px 0;
}
.top-banner-container span,
.about-me-container span,
.our-recipies-container span {
  color: orangered;
}
a.linked-button {
  padding: 20px 50px;
  font-size: 16px;
  background-color: orangered;
  display: inline-block;
  font-weight: 500;
  color: white;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
}
a.linked-button:hover {
  background-color: tomato;
}
.half-side {
  width: 50%;
}
.half-side img {
}

/*============= About Me ============*/
.about-me {
  width: 100%;
}
.about-me-container {
  background-image: url(images/Frame\ 58.jpg);
  background-repeat: no-repeat;
  display: flex;
  background-size: cover;
  width: 100%;
  padding: 50px 100px 0;
  align-items: center;
}
.portrait-pic {
  height: 600px;
}
/*============= Our Recipies ============*/
.our-recipies-container {
  text-align: center;
  justify-content: center;
  height: 300px;
}
.our-recipies-item-container {
  display: flex;
  padding: 0 100px 100px;
  justify-content: space-between;
}
.our-recipies-item {
  background-color: white;
  width: 30%;
  padding: 20px;
}
.box-shadow {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.our-recipies-item img {
  background-color: wheat;
  width: 100%;
}
.our-recipies-item h3 {
  padding: 20px 0;
  font-weight: bold;
}

/*============= Our Followers ============*/

.followers-container {
  display: flex;
}
.followers-container-wrapper {
  width: 100%;
  display: flex;
  margin: 50px 100px;
  justify-content: space-evenly;
}
.followers {
  width: 25%;
}
