* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

/*============= Nav bar ============*/

nav,
li {
  list-style: none;
}
h1 {
  font-size: 50px;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
p {
  line-height: 1.8em;
  color: #464646;
}

header {
  display: flex;
  padding: 0 100px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  margin-bottom: 100px;
}
header nav {
  display: flex;
}
nav li a {
  padding: 30px 20px;
  color: #e0e0e0;
  display: inline-block;
}
h2.logo-text {
  color: orangered;
  letter-spacing: 10px;
  font-family: "proxima-nova", sans-serif;
}
h2 span {
  color: white;
}
nav li:hover {
  color: orangered;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/*============= Top banner ============*/
.top-banner-container,
.about-me-container,
.our-recipies-container,
.reservation-text-container {
  display: flex;
  padding: 150px 100px 70px 100px;
  align-items: center;
  justify-content: space-between;
  height: 650px;
}
.top-banner-container p,
.about-me-container p,
.our-recipies-container p,
.reservation-text-container {
  padding: 20px 0 20px;
}
.top-banner-container span,
.about-me-container span,
.our-recipies-container span,
.reservation-text-container span {
  color: orangered;
}
a.linked-button {
  padding: 20px 50px;
  font-size: 16px;
  background-color: orangered;
  display: inline-block;
  font-weight: 500;
  color: white;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
}
a.linked-button:hover {
  background-color: tomato;
}
.half-side {
  width: 50%;
}
.half-side img {
}

/*============= About Me ============*/
.about-me {
  width: 100%;
}
.about-me-container {
  background-image: url(images/Frame\ 58.jpg);
  background-repeat: no-repeat;
  display: flex;
  background-size: cover;
  width: 100%;
  padding: 50px 100px 0;
  align-items: center;
}
.portrait-pic {
  height: 600px;
}
/*============= Our Recipies ============*/
.our-recipies-container,
.reservation-text-container {
  text-align: center;
  justify-content: center;
  height: 300px;
}
.our-recipies-item-container {
  display: flex;
  padding: 0 100px 0px;
  justify-content: space-between;
}
.our-recipies-item {
  background-color: white;
  width: 30%;
  padding: 20px;
}
.box-shadow {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.our-recipies-item img {
  background-color: wheat;
  width: 100%;
}
.our-recipies-item h3 {
  padding: 20px 0;
  font-weight: bold;
}

/*============= Our Followers ============*/

.followers-container,
.reservation-container {
  display: flex;
  padding: 150px 100px 0;
}
.followers-box,
.reservation-container-items {
  padding: 50px 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

/*============= Reservation section ============*/
.reservation-text-container {
  height: auto;
  padding: 150px 0 50px;
}
.reservation-container-items {
  text-align: left;
}
.reservation-container {
  margin-bottom: 100px;
}
.reservation-container {
  padding-top: 20px;
}
.reservation-item {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.reservation-item input {
  padding: 10px 10px;
  display: inline-block;
  height: 45px;
  width: 100%;
  margin-bottom: 25px;
  background-color: cornsilk;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.reservation-item label {
  padding: 10px 0;
  display: inline-block;
  width: 100%;
}
li.items {
  width: 30%;
}
/*============= Footer top ============*/
.footer-top {
  background-color: rgba(0, 0, 0, 0.9);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-top p {
  color: rgb(134, 134, 134);
}

/*============= Footer bottom ============*/
footer {
  background-color: black;
  height: 80px;
}
footer nav {
  display: flex;
  justify-content: center;
}
